.title {
	font-size: 3em;
	text-align: center;
	color: white;
	font-family: 'Grandstander', cursive;
}

.input {
	width: 100%;
}

@media screen and (max-width: 415px) {
	.title {
		font-size: 1.5em;
		text-align: center;
	}
}